<?xml version="1.0" encoding="UTF-8"?>
<module>
	<name>hp_categories</name>
	<displayName>Homepage Categories</displayName>
	<version>1.0.0</version>
	<description>Displays two category columns below the slider.</description>
	<author>Dale</author>
	<tab>front_office_features</tab>
	<is_configurable>0</is_configurable>
</module>
